form {
  width: 350px;
  margin: 20px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  gap: 12px;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 10px;
}

input,
textarea {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: 0.2s;
}

textarea:focus {
  border-color: #6c63ff;
}

textarea {
  height: 80px;
  resize: none;
}

button {
  padding: 10px;
  background: #6c63ff;
  color: white;
  border: none;
  border-radius: 8px;
  font-size: 15px;
  cursor: pointer;
}

button:hover {
  background: #584df2;
}

